# --- Python & Virtual Environment ---
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.py.class
*.so
*.dll
*.dylib
*.pyc

# Virtual environments
.env/
.venv/
envs/
venv/
ENV/
env.bak/
venv.bak/


# --- IDE / Editor Files ---
.idea/
*.iml
*.sublime-workspace
*.sublime-project

# --- Logs & Runtime ---
*.log
logs/

# --- Data / Media ---
videos/
snapshots_*
*.jpg
*.jpeg
*.png
*.mp4
*.avi
*.mkv

# --- Models & Checkpoints ---
ObjectDetector/yolov11/models/
checkpoints/
weights/
*.pt
*.onnx
*.bin
*.xml
*.engine
*.trt
*.pth
*.tflite
CHANGES.md
CLEANUP_INSTRUCTIONS.md
CROSSCHECK_ANALYSIS.md
FINAL_CROSSCHECK.md
README.md


# --- Cache & Metadata ---
.cache/
__cache__/
.pytest_cache/
ipynb_checkpoints/
.DS_Store
Thumbs.db


# --- Project Specific ---
/capture/__pycache__/
/features/__pycache__/
/rule_engine/__pycache__/
/utils/__pycache__/
/data_models/__pycache__/

#------- Files ------
test.py
structure.txt
stream_config.py
